<%- include ('partials/header.ejs') %>
<script>
     const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };

</script>

<%- include ('partials/nav.ejs') %>
  <!-- Page Content -->
  <!-- Banner Starts Here -->
  <div class="heading-page header-text">
    <section class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-content">
              <h4>ŽUPA KANDIJA</h4>
              <h2>NOVOSTI</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Banner Ends Here -->


  <section class="blog-posts grid-system">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="all-blog-posts">
            <div class="row">
            
              <% novosti.forEach((novost)=>{%>
              <div class="col-lg-6">
                <div class="blog-post">
                  <div class="blog-thumb">
                    <img src="<%= novost.images %>" id="images">
                  </div>
                  <div class="down-content">
                    <span><%= novost.category %></span>
                    <a href="/novosti/<%=novost._id%>">
                      <h4><%= novost.naslov %></h4>
                    </a>
                    <ul class="post-info">
                      <li>Admin</a></li>
                      <li><%= novost.datum.toLocaleDateString() %></li>
                      
                    </ul>
                    <p class="kratki-tekst" id="kkkk" >                        <%=  novost.description%> 
                                                                 </p><a href="/novosti/<%= novost._id%>">Opširnije</a>
                    <div class="post-options">
                      <div class="row">
                        <div class="col-lg-12">
                          <ul class="post-share">
                            
<li><div class="fb-share-button" data-href="https://www.stipicklepic91.xyz/novosti/5f3d3c65d797db3b6ff59061" data-layout="button_count" data-size="small">
  <a target="_blank" 
  href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.stipicklepic91.xyz%2F&amp;src=sdkpreparse"
   class=""><i class="fa fa-share-alt" aria-hidden="true"></i><i class="fa fa-facebook-f" aria-hidden="true"></i></a></div></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="fb-root"></div>
<script async defer crossorigin="anonymous"
 src="https://connect.facebook.net/hr_HR/sdk.js#xfbml=1&version=v8.0&appId=715696709360363&autoLogAppEvents=1" nonce="PPMQG3TN"></script>  <% });%>
             
              <div id="di"></div>
              
           
              <div class="paginator col-lg-12">
                <% if (typeof(totalPages) != "undefined" && totalPages > 0) { %>
                <nav class="mt-4" aria-label="Page navigation">
                    <ul class="pagination justify-content-center ">
                        <!-- First page button -->
                        <% if (Number(current) === 1) { %>
                            <li class="page-item disabled"><a class="page-link">Početna</a></li>
                        <% } else { %>
                            <li class="page-item">
                                <a class="page-link" href="/novosti?page=1<%if(search){%>?search=<%=search%><%}%>">Početna</a>
                            </li>
                        <% } %>
                        <!-- Previous page button -->
                        <% if (Number(current) === 1) { %>
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            </li>
                        <% } else { %>
                            <li class="page-item">
                                <a class="page-link" href="/novosti?page=<%= Number(current)-1 %><%if(search){%>?search=<%=search%><%}%>">
                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                </a>
                            </li>
                        <% } %>
                        
                        <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
                        <% if (i !== 1) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                        
                        <% for (; i <= totalPages && i <= (Number(current) + 2); i++) { %>
                            <% if (i === Number(current)) { %>
                                <li class="page-item active"><a class="page-link"><%= current %></a></li>
                            <% } else { %>
                                <li class="page-item">
                                    <a class="page-link" href="/novosti?page=<%=i%><%if(search){%>?search=<%=search%><%}%>"><%= i %></a>
                                </li>
                            <% } %>
                            
                            <% if (i === (Number(current) + 2) && i < totalPages) { %>
                                <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>
                        <% } %>
                        <!-- Next page button -->
                        <% if (Number(current) === totalPages) { %>
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </li>
                        <% } else { %>
                            <li class="page-item">
                                <a class="page-link" href="/novosti?page=<%= Number(current)+1 %><%if(search){%>?search=<%=search%><%}%>">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        <% } %>
                        <!-- Last page button -->
                        <% if (Number(current) === totalPages) { %>
                            <li class="page-item disabled"><a class="page-link">Zadnja</a></li>
                        <% } else { %>
                            <li class="page-item">
                                <a class="page-link" href="/novosti?page=<%= totalPages %><%if(search){%>?search=<%=search%><%}%>">Last</a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
                <% } %>
            </div>
            </div>
            
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="row">
              <div class="col-lg-12">
                <div class="sidebar-item search">
                  <form action="/novosti" method="GET" class="form-inline">
                    <input type="text" name="search" placeholder="Traži..">                    <input type="submit" onclick="myFunction()" value="Pretraži">
                  </form>
                </div>
              </div>
          
              <div class="col-lg-12">
                <div class="sidebar-item categories">
                  <div class="sidebar-heading">
                    <h2>KATEGORIJE</h2>
                  </div>
                  <div class="content">
                    <ul>
                      <li><a href="/preminuli">- PREMINULI</a></li>
                      <li><a href="#">- ŽUPNE OBAVIJESTI</a></li>
                      <li><a href="#">- OSTALO</a></li>
                      
                    </ul>
                  </div>
                </div>
              </div>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="/">NASLOVNA</a></li>
            <li><a href="/ozupi">O ŽUPI</a></li>
            <li><a href="/groblja">GROBLJA</a></li>
            <li><a href="/novosti">NOVOSTI</a></li>
            <li><a href="/contact">KONTAKT</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2020 Župa Kandija. Sva prava pridržana
              | POWERED BY: <a href="https://www.facebook.com/stipica19" target="_parent">Stipica</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <script>
   
//alert(myVar);


// Append the parsed HTML

    /* $(document).ready(function () {
        load_data();
        function load_data(query) {
            $.ajax({
                url: "/novosti",
                method: "GET",
                data: { query: query },
                success: function (data) {
                    $("#di").empty();
                    data.forEach(function (item) {
                        $("#di").append(`${item.naslov}`);
                    });
                }
            });
        }

        $('#search_text').keyup(function () {
            var search = $(this).val();
            if (search != '') {
                load_data(search);
            }
            else {
                $.ajax({
                    type: 'GET',
                    url: '/novosti/',
                    success: (response) => {
                        window.location = "/novosti"
                    },
                    error: (e) => {
                        alert('error!')
                    }

                });
            }
        });
    });
 */
    
    
    </script>


    <%- include ('partials/footer.ejs') %>