<%- include ('partials/header.ejs') %>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css"
/>

<%- include ('partials/nav.ejs') %>
<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content">
            <h2>GROBLJA</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Banner Ends Here -->
<div class="container gallery-container">
  <% groblje.forEach((groblje,index)=>{%>
  <h1><%= groblje.groblje%></h1>
  <div class="tz-gallery">
    <div class="row">
      <% for(var i=0 ; i < groblje.images.length; i++) {%>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="../views/public/<%= groblje.images[i]%>">
          <img src="../views/public/<%= groblje.images[i]%>" alt="Park" />
        </a>
      </div>
      <%}%>
    </div>
  </div>
  <p class="page-description"><%= groblje.description%></p>
  <%});%>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="social-icons">
          <li><a href="/">NASLOVNA</a></li>
          <li><a href="/">GALERIJA</a></li>
          <li><a href="/ozupi">O ŽUPI</a></li>
          <li><a href="/groblja">GROBLJA</a></li>
          <li><a href="/novosti">NOVOSTI</a></li>
          <li><a href="/contact">KONTAKT</a></li>
        </ul>
      </div>
      <div class="col-lg-12">
        <div class="copyright-text">
          <p>
            Copyright 2020 Župa Kandija. Sva prava pridržana | Design i
            programiranje:
            <a
              href="https://www.linkedin.com/in/stipica-klepic-27454115b/"
              target="_parent"
              >Stipica</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>

<script>
  baguetteBox.run(".tz-gallery");
</script>
<%- include ('partials/footer.ejs') %>
