
  <%- include ('partials/header.ejs') %>


<%- include ('partials/nav.ejs') %>

<div id="fb-root"></div>

  <div class="heading-page header-text">
    <section class="page-heading">
      <div class="row">
        <div class="col-lg-12">
      </div>
     

      </div>
    </section>
  </div>
  <section class="blog-posts">
 
    <div class="container">
      <div class="row">
        <div class="col-lg-8 ljeva">
          <div class="all-blog-posts">
            <div class="row">
              <% if(novosti.length<=3){ %>
                      <h5>NEMA NOVOSTI</h5>
                <% }
                else{   %>
          <% for(var i= novosti.length-1; i > novosti.length-4 ; i--) { %>
               
                <div class="col-lg-12">
                <div class="blog-post">

                  <div class="down-content">
                    <span><%= novosti[i].category %></span>
                    <a href="/novosti/<%= novosti[i]._id%>">
                      <h4><%= novosti[i].naslov %></h4>
                    </a>
                    <ul class="post-info">
                      <!--*<li><a href="#">Admin</a></li>-->
                      <li><a href="#"> <%= novosti[i].datum.toLocaleDateString() %></a></li>
                      <li><a href="#">Posjeta : <%= novosti[i].visit %></a></li>
                    </ul>
                    <div class="blog-thumb">
                      <img src="<%= novosti[i].images %>" alt="zupa-kandija">
                      <p class="kratki-tekst" >       
                        <%= novosti[i].description.replace(/(<([^>]+)>)/ig,'').replace(/&nbsp;/g,' ').replace(/&quot;/g,'"').replace(/&scaron;/g,'š').replace(/&Scaron;/g,'Š').replace(/&ldquo;/g,' ').replace(/&bdquo;/g,' ').substring(0,300) %>... 
                      </p>
                        <a href="/novosti/<%= novosti[i]._id%>">Opširnije</a>
                    </div>

                    <div class="post-options">
                      <div class="row">
                        <div class="col-6">

                        </div>
                        <div class="col-6">
                          <ul class="post-share">
                           

                          </ul>
                        </div>
                       </div>
                    </div>
                   
                  </div>
                  <hr style="width:100%;text-align:left;margin-left:0">
                </div>
              </div>
              <% } %>
              <%    }   %>
            
              <div class="col-lg-12">
                <div class="main-button">
                  <a href="/novosti">Pogledajte starije objave</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="row">
              <div class="col-lg-12">
                <div class="sidebar-item search">
                  <form action="/novosti" method="GET" class="form-inline">
                    <input type="text"  name="search"  style="font-family: FontAwesome;"  placeholder="&#xf002 Traži..." > 
                    <input type="submit" value="Pretraži">
                  </form>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="sidebar-item recent-posts">
                  <div class="sidebar-heading">
                    <h2><i class="fa fa-calendar"></i> Raspored Misa</h2>
                  </div>
                  <div class="content">
                    <ul>
                      <li><a href="/">
                          <p>NEDELJA </p>
                          <p>9:00 i 11:00 sati</p>
                          <p>Radnim Danima</p>
                          <p>17:00 sati</p>
                        </a></li>

                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="sidebar-item categories">
                  <div class="sidebar-heading">
                    <h2><i class="fa fa-phone"></i> Kontakti</h2>
                  </div>
                  <div class="content">
                    <p>Župni ured Sv. Ilije Proroka - KANDIJA</p>
                    <p>Kandija bb,</p>
                    <p>70230 Bugojno</p>
                    <p> Bosna i Hercegovina</p>
                  </div><br>
                  <p>Tel./Fax. +387 (0)30 281 114</p>
                  <p>Mob: +387 (0)63 352 598</p>
                  <p>Email:zupakanidija@gmail.com</p>


                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item tags">
                <div class="sidebar-heading">
                  <h2>Preporučena web mjesta</h2>
                </div>
                <div class="content">
                  <div class="posjetite" style="padding-top: 5px;"> <a href="https://www.nedjelja.ba/"><img
                        src="assets/images/kat_tjednik.webp" alt="nedelja.ba"/></a></div>
                  <div class="posjetite" style="padding-top: 5px;">
                    <a href="#"><img src="assets/images/caritas.webp" alt="caritas" /></a></div>
                  <div class="posjetite" style="padding-top: 5px;"></div>
                 
                </div>
                <div class="posjetite" style="padding-top: 5px;">
                  <a href="http://www.missio.ba/"><img src="assets/images/misija.webp" alt="missio" />
                  </a></div>
                <div class="posjetite" style="padding-top: 5px;">
                  <a href="https://mladicentar.org/"><img src="assets/images/mladi.webp"
                      alt="mladicentar" /></a></div>
                <div class="posjetite" style="padding-top: 5px;">
                  <a href="https://www.radiomarija.ba/"> <img src="assets/images/radio_marija.webp"
                      alt="radiomarija" /></a></div>
                <div class="posjetite" style="padding-top: 5px;">
                  <a href="http://www.vrhbosanska-nadbiskupija.org/"><img
                      src="assets/images/vrhbosanska_nadbijskupija.webp" alt="vrhbosanska-nadbiskupija" /></a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="/">NASLOVNA</a></li>
            <li><a href="/">GALERIJA</a></li>
            <li><a href="/ozupi">O ŽUPI</a></li>
            <li><a href="/groblja">GROBLJA</a></li>
            <li><a href="/novosti">NOVOSTI</a></li>
            <li><a href="/contact">KONTAKT</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2020 Župa Kandija. Sva prava pridržana | Development by: <a href="https://www.linkedin.com/in/stipica-klepic-27454115b/" target="_parent">Stipica</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
<%- include ('partials/footer.ejs') %>