
<%- include ('partials/header.ejs') %>
 
<section >
  <div class="container">

    <div class="row justify-content-center">

      <!-- Post Content Column -->
      <div class="col-lg-12">
       
        <!-- Title -->
        <h1 class="mt-4"><%= novost.naslov%></h1>

        <hr>

        <!-- Date/Time -->
        <p><%= novost.datum.toLocaleDateString() %></p>

        <hr>
<div class="col-md-8" >
  <img class="img-fluid rounded align-self-center" width="500px" height="500px" src="<%= novost.images%>" alt="">
</div>
        <!-- Preview Image -->
       

        <hr>

        <!-- Post Content -->
      
        <p id="log">
          
        </p>

        <hr>

   
      </div>
      <!-- /.row -->
  
    </div>


</div>
</section>
<script>
   let myVar = '<%- JSON.stringify(novost.description) %>';

   var $log = $( "#log" );
   str = `${myVar}`;
   
   html = $.parseHTML( str ),
   nodeNames = [];
 
// Append the parsed HTML
   $log.append( html );
</script>
 
<%- include ('partials/footer.ejs') %>