
<%- include ('partials/header.ejs') %>
<meta property="fb_app_id" content="715696709360363" />
    <meta property="og:url" content="https://www.stipicklepic91.xyz/novosti/<%= novost._id %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%- novost.naslov%>" />
    <meta property="og:description" content="<%= novost.description%>" />
    <meta property="og:image" content="<%= novost.images %>"/>

<%- include ('partials/nav.ejs') %>
<section class="gallery-block cards-gallery margina">
  <div class="container">

    <div class="row justify-content-center">

      <!-- Post Content Column -->
      <div class="col-lg-12">
       
        <!-- Title -->
        <h1 class="mt-4"><%= novost.naslov%></h1>

       

        <!-- Date/Time -->
        <p><%= novost.datum.toLocaleDateString() %></p>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&appId=715696709360363&width=0&height=0" width="0" height="0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

        <hr>
<div class="col-md-12 clearfix" >
  <img class="img-fluid  align-self-center float-left pull-left mr-2" width="500px" height="500px" src="<%= novost.images%>" alt="">
<p id="log" >
          
  </p>
</div>
<div class="col-md-4">
   
</div>
    <!-- Preview Image -->
       
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" 
        src="https://connect.facebook.net/hr_HR/sdk.js#xfbml=1&version=v8.0&appId=715696709360363&autoLogAppEvents=1" nonce="iXTS94gj"></script>
        <!-- Post Content -->
      
        

        <hr>
   
      </div> 
      <!-- /.row -->
      
      <div class="fb-share-button" 
      data-href="https://www.stipicklepic91.xyz/novosti/<%= novost._id%>" 
      data-layout="button_count">
      </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="social-icons">
          <li><a href="#">NASLOVNA</a></li>
          <li><a href="#">O ŽUPI</a></li>
          <li><a href="#">GROBLJA</a></li>
          <li><a href="#">NOVOSTI</a></li>
          <li><a href="#">KONTAKT</a></li>
        </ul>
      </div>
      <div class="col-lg-12">
        <div class="copyright-text">
          <p>Copyright 2020 Župa Kandija. Sva prava pridržana
            | POWERED BY: <a href="https://www.facebook/stipica19" target="_parent">Stipica</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
  $("meta[property='og\\:title']").attr("content", "ccccc");
  $("meta[property='og\\:description']").attr("content", "sfsafsafasf");
   let myVar = '<%- JSON.stringify(novost.description) %>';

   var $log = $( "#log" );
   str = `${myVar}`;
   
   html = $.parseHTML( str ),
   nodeNames = [];
 
// Append the parsed HTML
   $log.append( html );
</script>

 
<%- include ('partials/footer.ejs') %>